/*BOILERPLATE*/

.clear {
	clear: both;
	}

body {

	font-family: "Futura", "cool-font", arial, sans-serif;
}	

#wrapper {

	position: relative;
	width: 940px;
	height: 628px;
	overflow: hidden;
	text-align: center;
	margin: auto;
	margin-top: 5%;
}


#tile1 {

	position: relative;
	width: 940px;
	height: 628px;
	background: black
}

/*TAB 1*/

#background {

	position: absolute;
}

.leftalign {

	left: 0px
}

.rightalign {

	right: 0px
}

.botleftalign {

	left: 0px;
	bottom: 0px;
}

.botrightalign {

	right: 0px;
	bottom: 0px;
}


#topleft {

	position: absolute;
	top: 0px;
	left: 0px;
	height: 314px;
	width: 470px;
}


#topright {

	position: absolute;
	top: 0px;
	right: 0px;
	height: 314px;
	width: 470px;
	display: none
}


#bottomleft {

	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
	height: 314px;
	width: 470px;
	display: none
}

#bottomright {

	position: absolute;
	bottom: 0px;
	right: 0px;
	right: 0px;
	height: 314px;
	width: 470px;
	display: none
}

.pubname {

	margin-top: 100px;
	margin-left: 200px;
	padding: 10px;
	background: black;
	color: white;
}

#oak {

	width: 110px
}

#griffin {

	width: 80px
}

#gamecopy {
	margin-top: 0px;
	margin-left: 0px;
}

#newinn {

	width: 100px
}

#princess {

	width: 130px
}


/*VIDEOS*/

#videowrapper {

	position: absolute;
	width: 940px;
	height: 628px;
	background: rgba(0,0,0,0.6);
	display: none
}

#videoheadholder {

	padding: 5px;
	position: absolute;
	top: 30px;
	width: 100%;
	text-align: center;
	font-size: 40px;
	display: none;
}

#videohead {

	color: white
}


#videoholder {

	position: absolute;
	top: 100px;
	right: 100px;
	width: 700px;
	height: 450px;
	background: pink;
	display: none;
}

#close1, #close2, #close3, #close4, #close5 {
	position: absolute;
	bottom: 20px;
	right: 20px;
	background: black;
	color: white;
	display: none;
	z-index: 2
}



#thegame {

	position: absolute;
	font-size: 40px;
	left: 360px;
	top: 290px;
	display: none;
}










